* {
  padding: 0px;
  margin: 0px;
}

section h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 36px;
}

.add-noticia a {
  font-size: 20px;
  display: inline-block;
  margin: auto;
  background-color: #007bff;
  color: white;
  border-radius: 10px;
  padding: 8px 16px;
  transition: 0.5s;
}

.add-noticia a:hover {
  background-color: #0069d9;
  color: white;
  text-decoration: none;
}

.add-noticia {
  text-align: center;
  margin-bottom: 20px;
}

.input-noticia {
  width: 80%;
  border: none;
  border-bottom: 2px solid #aedff6;
  overflow: hidden;
  resize: none;
  margin: 20px 10px;
  padding: 2px 20px;
}

.input-noticia:focus {
  outline: none;
  border-bottom: 2px solid #007bff;
  transition: .5s ease
}

.input-titular-noticia {
  text-align: center;
  font-size: 36px;
}


.form-crear-noticia {
  display: flex;
  flex-direction: column;
}
